<ion-view view-title="{{ 'VIEW_SETTINGS' | translate }}" hide-tabs="false">
  <ion-content>
    <ion-list>

      <a class="item item-icon-left item-icon-right" href="#/tab/parameter/lang">
        <i class="icon ion-chatbox-working"></i>
        <h2>{{ 'SELECT_LANGUAGE' | translate }}</h2>
        <p>{{ 'SELECT_LANGUAGE_LABEL' | translate }} {{settings.lang}}</p>
        <i class="icon ion-ios-arrow-forward"></i>
      </a>

      <div class="item item-icon-left">
        <i class="icon"></i>
        <h2>{{ 'VERSION_APP' | translate }}</h2>
        <p><span app-version></span></p>
      </div>

      <div class="item item-divider">
        {{ 'MANAGE_PART' | translate }}
      </div>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-clipboard"></i>
        <h2>{{ 'MANAGE_INGREDIENTS' | translate }}</h2>
        <p>{{ 'MANAGE_INGREDIENTS_LABEL' | translate }}</p>
        <i class="icon ion-ios-arrow-forward"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-arrow-return-left"></i>
        <h2>{{ 'REINIT_APP' | translate }}</h2>
        <p>{{ 'REINIT_APP_LABEL' | translate }}</p>
        <i class="icon ion-ios-arrow-forward"></i>
      </a>

    </ion-list>
  </ion-content>
</ion-view>
