<ion-view view-title="{{ 'VIEW_CALCULATOR' | translate }}" hide-tabs="false">
  <ion-content class="padding">
    <div id="from-to" class="list">
      <label class="item item-input">
        <span class="input-label-calc">{{ 'FROM' | translate }}</span>
        <input type="text" class="right" ng-model="$root.converter.from" name="from" disabled>
        <span class="input-label-calc center" ng-bind="$root.converter.getTypeFrom()"></span>
      </label>
      <label class="item item-input">
        <span class="input-label-calc">{{ 'TO' | translate }}</span>
        <input type="text" class="right" ng-model="$root.converter.to" name="to" disabled>
        <span class="input-label-calc center" ng-bind="$root.converter.getTypeTo()"></span>
      </label>
    </div>
    <div id="criteria-list">
      <div class="row">
        <div class="col">
          <button class="button button-block button-dark" ng-click="showIngredient()">
            {{$root.converter.ingredient.name}}
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-block button-dark" ng-click="showFromType()">
            {{ 'FROM' | translate }} {{$root.converter.from_type.name}}
          </button>
        </div>
        <div class="col">
          <button class="button button-block button-dark" ng-click="showToType()">
            {{ 'TO' | translate }} {{$root.converter.to_type.name}}
          </button>
        </div>
      </div>
    </div>
    <div id="calculator-key">
      <div class="row">
        <div class="col">
          <a class="button button-block button-outline button-dark" ng-click="addValCalc('1')">1</a>
        </div>
        <div class="col">
          <a class="button button-block button-outline button-dark" ng-click="addValCalc('2')">2</a>
        </div>
        <div class="col">
          <a class="button button-block button-outline button-dark" ng-click="addValCalc('3')">3</a>
        </div>
        <div class="col">
          <a class="button button-block button-outline button-assertive ion-ios-arrow-thin-left" ng-click="removeValCalc(0)"></a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a class="button button-block button-outline button-dark" ng-click="addValCalc('4')">4</a>
        </div>
        <div class="col">
          <a class="button button-block button-outline button-dark" ng-click="addValCalc('5')">5</a>
        </div>
        <div class="col">
          <a class="button button-block button-outline button-dark" ng-click="addValCalc('6')">6</a>
        </div>
        <div class="col">
          <a class="button button-block button-outline button-assertive" ng-click="removeValCalc(1)">AC</a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a class="button button-block button-outline button-dark" ng-click="addValCalc('7')">7</a>
        </div>
        <div class="col">
          <a class="button button-block button-outline button-dark" ng-click="addValCalc('8')">8</a>
        </div>
        <div class="col">
          <a class="button button-block button-outline button-dark" ng-click="addValCalc('9')">9</a>
        </div>
        <div class="col">
          <a class="button button-block button-outline button-assertive" ng-click="inverseVal()">{{ 'INV' | translate }}</a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a class="button button-block button-outline button-dark" ng-click="addValCalc('.')">.</a>
        </div>
        <div class="col">
          <a class="button button-block button-outline button-dark" ng-click="addValCalc('0')">0</a>
        </div>
        <div class="col">
          <a class="button button-block " disabled>&nbsp;</a>
        </div>
        <div class="col">
          <a class="button button-block button-balanced" ng-click="saveConverter()">{{ 'SAVE' | translate }}</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
