<ion-view view-title="{{ 'VIEW_SAVINGS' | translate }}" hide-tabs="false">
  <ion-content>
    <ion-list id="list-savings">
      <ion-item class="item-remove-animate item-icon-right" collection-repeat="saving in savingsvm.savings track by saving.id" type="item-text-wrap">
        <strong><div id="ingredient">{{saving.ingredient}}</div></strong>
        <span>{{saving.fromVal}}</span> <span>{{saving.fromType}}</span> <i class="ion-arrow-right-c"></i>
        <span>{{saving.toVal}}</span> <span>{{saving.toType}}</span>
        <i class="icon ion-trash-a assertive" ng-click="savingsvm.removeSaving($index, saving)"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
