<ion-tabs ng-class="{'tabs-item-hide': $root.hideTabs}" class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="{{ 'TAB_TITLE_CALCULATOR' | translate }}" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/calculator">
    <ion-nav-view name="tab-calculator"></ion-nav-view>
  </ion-tab>

  <ion-tab title="{{ 'TAB_TITLE_SAVINGS' | translate }}" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/save">
    <ion-nav-view name="tab-save"></ion-nav-view>
  </ion-tab>

  <ion-tab title="{{ 'TAB_TITLE_PARAMETERS' | translate }}" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/parameters">
    <ion-nav-view name="tab-parameters"></ion-nav-view>
  </ion-tab>

</ion-tabs>
