{
  "extends": "standard",
  "plugins": [
    "standard",
    "promise"
  ],
  "globals": {
    "ionic": false,
    "angular": false,
    "cordova": false,
    "window": false,
    "codePush" : false,
    "InstallMode": false,
    "CLIEngine": false,
    "register": false
  },
  "rules": {
    "handle-callback-err": 0,
    "no-shadow-restricted-names": 0,
    "space-before-function-paren": ["error", { "anonymous": "always", "named": "never" }],
    "camelcase":  1,
    "no-unused-vars": 1,
    "semi": [ "error" , "never"],
    "indent": ["error", 2],
    "new-cap": 0,
    "new-parens": 0,
    "spaced-comment": 0
  }
}