<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.cook.converter" version="1.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>CookConv</name>
  <description>
    Volume to weight (and weight to volume) converter.
  </description>
  <author email="maxime.gris@gmail.com" href="http://maximegris.github.io">
    Picotin
  </author>
  <content src="index.html"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="30000"/>
  <preference name="AutoHideSplashScreen" value="false"/>
  <preference name="ShowSplashScreenSpinner" value="false"/>
  <preference name="FadeSplashScreen" value="false"/>
  <preference name="FadeSplashScreenDuration" value="1"/>
  <preference name="SplashShowOnlyFirstTime" value="false"/>
  <preference name="orientation" value="portrait"/>
  <platform name="android">
    <preference name="android-minSdkVersion" value="16"/>
    <preference name="android-targetSdkVersion" value="22"/>
    <preference name="SplashMaintainAspectRatio" value="true"/>
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <icon src="resources\android\icon\drawable-ldpi-icon.png" density="ldpi"/>
    <icon src="resources\android\icon\drawable-mdpi-icon.png" density="mdpi"/>
    <icon src="resources\android\icon\drawable-hdpi-icon.png" density="hdpi"/>
    <icon src="resources\android\icon\drawable-xhdpi-icon.png" density="xhdpi"/>
    <icon src="resources\android\icon\drawable-xxhdpi-icon.png" density="xxhdpi"/>
    <icon src="resources\android\icon\drawable-xxxhdpi-icon.png" density="xxxhdpi"/>
    <splash src="resources\android\splash\drawable-port-ldpi-screen.png" density="port-ldpi"/>
    <splash src="resources\android\splash\drawable-port-mdpi-screen.png" density="port-mdpi"/>
    <splash src="resources\android\splash\drawable-port-hdpi-screen.png" density="port-hdpi"/>
    <splash src="resources\android\splash\drawable-port-xhdpi-screen.png" density="port-xhdpi"/>
    <splash src="resources\android\splash\drawable-port-xxhdpi-screen.png" density="port-xxhdpi"/>
    <splash src="resources\android\splash\drawable-port-xxxhdpi-screen.png" density="port-xxxhdpi"/>
    <access origin="https://codepush.azurewebsites.net" />
    <access origin="https://codepush.blob.core.windows.net" />
    <access origin="https://codepushupdates.azureedge.net" />
    <preference name="CodePushDeploymentKey" value="5dVDukbmZmu5PqwN3LImRk2oNPvz41HrBUG6b" />
  </platform>
  <icon src="resources\android\icon\drawable-xhdpi-icon.png"/>
  <splash src="resources/splash.png"/>
</widget>